*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bsp

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/

# emacs stuff
\#*\#
\.\#*
*~
sbt/*launch*.jar

# VSCode specific
.vscode
.history

# Metals
.metals
.bloop
metals.sbt

# python
*.pyc
.tox
.bsp

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# scala stuff
.metals

# native
*.o
*.so
*.so.0.0.0
*.so.0

# Spark files
*.tgz
iceberg-spark-runtime-*.jar
spark-*-bin-hadoop*/

# Warehouse
spark-warehouse/
warehouse/
metastore_db/

# Misc internal stuff
sql/*.sql.out
python/examples/*.py.out
data/fetched/*
spark_expectations_sample_rules.json

# more python
pyspark_venv.tar.gz
pyspark_venv/

# accel stuff
accelerators/*.jar
accelerators/arrow-datafusion-comet
# ignore gluten
gluten
gluten*.jar
spark-3*hadoop*/
spark-3*hadoop*.tgz
accelerators/incubator-gluten
# ignore the temporary myapp from the dockerbuild
myapp.tar
# ignore glutten
incubator-glutten/*
# ignore nested build file.
project/build.sbt
coursier
# Magic file we use for build tracking
oldhash
# ignore ipynb checkpoints
.ipynb_checkpoints/
