*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.bsp

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/

# emacs stuff
\#*\#
\.\#*
*~
sbt/*launch*.jar

# VSCode specific
.vscode
.history

# Metals
.metals
.bloop
metals.sbt

# python
*.pyc
.tox
.bsp

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# native
*.o
*.so
*.so.0.0.0
*.so.0
