*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# emacs stuff
\#*\#
\.\#*
*~
sbt/*launch*.jar

# python
*.pyc

# native
*.o
*.so
*.so.0.0.0
*.so.0